<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script defer src="{% static 'script.js' %}"></script>
    <title>Product Expiry</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li id="add"> 
                <a href="{% url 'product:add_product' %}"><button data-modal-target="#modal">
                    <span class="material-symbols-outlined" id="plus">
                        add
                    </span>
                    Add a product
                </button></a>
            </li>
            <a href="{% url 'authentication:logout_user' %}"><li class="green">Logout</li></a>
        </ul>
    </div>
    <div class="info">
        <div class="box" id="total">
            <div id="num">4</div>
            Total
        </div>
        
        <div class="box" id="batch">
            <div id="num">4</div>
            Batch
        </div>
        <div class="box" id="expired">
            <div id="num">4</div>
            Exipred products
        </div>
    </div>

    
    <div class="modal" id="modal">
        <div class="modal-header">
          <div class="title">Add a product</div>
          <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
          <form class="form">
            <input type="text" name="product_name" placeholder="Product Name">
            <input type="text" name="manufacturer" placeholder="Manufacturer">
            <input type="text" name="bar_code" placeholder="Bar Code">
            <input type="date" name="production_date" placeholder="Production date">
            <input type="date" name="expiry_date" placeholder="Expiry date">
            <input type="number" name="quantity" placeholder="Quantity">
            <input type="number" name="price" placeholder="Price(in cedis)">
              <button type="submit">Add</button>
          </form>
        </div>
      </div>
      <div id="overlay"></div>

    <div class="container">
        <table>
            <th>Product Name</th>
            <th>Manufacturer</th>
            <th>Bar Code</th>
            <th>Production date</th>
            <th>Expiry date</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>

            {% for product in products %}
            <tr>
                <td>Milo</td>
                <td>Nestle</td>
                <td>4738290948767288</td>
                <td>23/05/2022</td>
                <td>23/05/2024</td>
                <td>3</td>
                <td>25</td>
                <td><a href="{% url 'product:edit_product' pk=product.pk %}"><button id="edit">
                    <span class="material-symbols-outlined">
                        edit
                        </span>
                </button></a></td>
                <td><a href="{% url 'product:delete_product' pk=product.pk %}"><button id="delete">
                    <span class="material-symbols-outlined">
                        delete
                        </span>
                </button></a></td>
            </tr>
            {% empty %}
            No products found
        {% endfor %}

        </table>
    </div>

</body>
</html>