<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script defer src="{% static 'script.js' %}"></script>
    <title>Product Expiry</title>
</head>
<body>
    <div class="menu">
        <ul>
          <li>
              <form method="post">{% csrf_token %}
            <button id="sendmail">
              Send Email
            </button>
                  </form>
          </li>
            <a href="{% url 'authentication:logout_user' %}"><li class="green">Logout</li></a>
        </ul>
    </div>
    <div class="info">
        <div class="box" id="total">
            <div id="num">{{total_products}}
             
              <p>Total</p>
            </div>
           
        </div>
        
        <div class="box" id="batch">
            <div id="num">{{total_batches}}
              <p> Batch</p>
            </div>
           
        </div>
        <div class="box" id="expired">
            <div id="num">{{total_expired_products}}
              <p>Expired</p>
            </div>
           
        </div>
    </div>


    <div class="addsearch">
      <button data-modal-target="#modal" id="add">
        <span class="material-symbols-outlined" id="plus">
            add
        </span>
        Add Product
    </button>
        <form action="{% url 'product:search' %}" method="get">
      <input type="checkbox" name="filter">
      <label for="filter">Expired Products Only</label>
      <div class="search">
        <input type="text" value="" name="q" placeholder="Search products">
          <button>Search</button>
      </div>
        </form>
    </div>

    <div class="modal" id="modal">
        <div class="modal-header">
          <div class="title">Add a product</div>
          <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
          <form class="form" method="post" action="{% url 'product:add_product' %}">{% csrf_token %}
            <input type="hidden" name="action" value="addProduct" required="">
            <input type="text" name="Name" placeholder="Product Name" required="">
            <input type="text" name="Manufacturer" placeholder="Manufacturer" required="">
            <input type="text" name="BarCode" placeholder="Bar Code" required="">
            <input required="" type="text" placeholder="Production date" onfocus="(this.type='date')" name="ProductionDate"/>
            <input required="" type="text" placeholder="Expiry date" onfocus="(this.type='date')" name="ExpiryDate" />
            <input type="number" name="Quantity" placeholder="Quantity" required="">
            <input type="number" name="Price" placeholder="Price(in cedis)" required="">
              <button type="submit">Add</button>
          </form>
        </div>
      </div>
      <div id="overlay"></div>


      <div class="modal" id="modal">
        <div class="modal-header">
          <div class="title">Edit a product</div>
          <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
          <form class="form" method="post" action="{% url 'product:add_product' %}">{% csrf_token %}
            <input type="hidden" name="action" value="editProduct" required="">
            <input type="text" name="Name" placeholder="Product Name" required="">
            <input type="text" name="Manufacturer" placeholder="Manufacturer" required="">
            <input type="text" name="BarCode" placeholder="Bar Code" required="">
            <input required="" type="text" placeholder="Production date" onfocus="(this.type='date')" name="ProductionDate"/>
            <input required="" type="text" placeholder="Expiry date" onfocus="(this.type='date')" name="ExpiryDate" />
            <input type="number" name="Quantity" placeholder="Quantity" required="">
            <input type="number" name="Price" placeholder="Price(in cedis)" required="">
             <button type="submit">Add</button>
          </form>
        </div>
      </div>
      <div id="overlay"></div>




    <div class="container">
        <table>
            <th>Product Name</th>
            <th>Manufacturer</th>
            <th>Bar Code</th>
            <th>Production date</th>
            <th>Expiry date</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>

            {% for product in products %}
            <tr>
                <td>{{product.Name}}</td>
                <td>{{product.Manufacturer}}</td>
                <td>{{product.BarCode}}</td>
                <td>{{product.ProductionDate}}</td>
                <td>{{product.ExpiryDate}}</td>
                <td>{{product.Quantity}}</td>
                <td>{{product.Price}}</td>
                <td><button id="edit" data-modal-target="#modal2">
                    <span class="material-symbols-outlined">
                        edit
                        </span>
                </button></td>
                <td><a href="{% url 'product:delete_product' pk=product.pk %}"><button id="delete">
                    <span class="material-symbols-outlined">
                        delete
                        </span>
                </button></a></td>
            </tr>
            {% empty %}
            No products found
        {% endfor %}

        </table>
    </div>

</body>
</html>